<!-- views/index.ejs -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title %></title>
  
  <link rel="stylesheet" href="styles/styles.css" />

</head>


<body><%- include('partials/grid') %>

<!-- Interact.js pre-bundled (global `interact`) -->
  <script src="/vendor/interact.min.js"></script>
<script>
  window.__IS_DEV__ = <%= IS_DEV %>;
</script>
<script type="module" src="/clientTest.js"></script>

  <!-- Your code (no module imports) -->
  <script src="/client.js"></script>
  



</body>

</html>